.ccls-cache/@@home@runner@Nix-C/@nix@store@4m98bsvjh538p292pr4604313mjmnpc5-clang-12.0.1-lib@lib@clang@12.0.1@include@stdarg.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@4m98bsvjh538p292pr4604313mjmnpc5-clang-12.0.1-lib@lib@clang@12.0.1@include@stddef.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@floatn-common.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@floatn.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@libc-header-start.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@long-double.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@stdio_lim.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@time64.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@timesize.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@__FILE.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@__fpos_t.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@__fpos64_t.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@__mbstate_t.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@FILE.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@types@struct_FILE.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@typesizes.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@bits@wordsize.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@features.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@gnu@stubs-64.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@gnu@stubs.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@stdc-predef.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@stdio.h.blob
.ccls-cache/@@home@runner@Nix-C/@nix@store@iwd8ic5hhwdxn5dga0im55g5hjl270cd-glibc-2.33-47-dev@include@sys@cdefs.h.blob
.ccls-cache/@home@runner@Nix-C/main.c
.ccls-cache/@home@runner@Nix-C/main.c.blob

.ccls-cache